<div class='main__content'>
  <form class='new__list' id='new_list_form'>
    <div class='new__list--input'>
      <label class='new__list--input--label'>
        新しいリストを作成する。<br>
        <input type='text' class='new__list--input--name'>
      </label>
      <input type='submit' value='作成する' id='input_box' >
    </div>
  </form>
  <div class='todo__list'>
    <ul class='lists'>
      <li class='list'>
        <div class='list--detail'>
          <p class='list--detail__name'><a href='#'>レポート課題</a></p>
          <p class='list--detail__todo'>todoがありません</p>
        </div>
      </li>
    </ul>
  </div>
</div>
