<div class='search__field'>
  <div class='search__box'>
    <input type='text' class='search__box--text' id='search-input'>
    <button type='submit' class='search__box--submit' id='search-button'>検索</button>
  </div>
</div>
<div class='result__field'>
  <ul class='result__todos'>
  </ul>
  <ul class='result__lists'>
  </ul>
</div>
