main{
  text-align: center;
  margin-bottom: 30px;
}

.main__content{
  height: 100%;
  width: 70%;
  display: inline-block;
  margin-top: 30px;
}

.new_list{
  text-align: center;
  &--input{
    width: 100%;
    display: inline-block;
    text-align: left;
    &--name{
      width: 80%;
      height: 30px;
    }
  }
}

.main__lists{
  text-align: center;
  .lists{
    margin: auto;
    width: 100%;
    display: inline-block;
    .list{
      margin-top: 30px;
      &--detail{
        border: 1px silver solid;
        text-align: left;
        padding-bottom: 30px;
        &__name{
          margin: 20px 0 0 20px;
          font-size: 20px;
          &__path{
            text-decoration: none;
          }
        }
        &__todo{
          margin-left: 20px;
          font-size: 14px;
        }
      }
    }
  }
}

.no_list{
  text-align: left;
  color: red;
  font-size: 20px;
  margin-top: 10px;
}
